<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete Menu Item</title>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
  </head>
  <body>
    <section class="header">
      <h1 class="header__h">Delete Menu Item</h1>
    </section>

    <section class="main">
      <form class="add-item" action="{{url_for("deleteMenuItem", restaurant_id=restaurant_id, menu_id=menu_id)}}" method="post">
        <div class="add-item__name add-item__last">
          Delete {{delete_item.name}}?
        </div>
        <div class="add-item__actions">
          <button class="add-item__button add-item__button--red">Delete</button>
          <a class="add-item__cancel" href="{{url_for("restaurantMenu", restaurant_id=restaurant_id)}}">Cancel</a>
        </div>
      </form>
    </section>
  </body>
</html>
