<!DOCTYPE html>
<html>
  <head>
    <!-- GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END GOOGLE SIGN IN -->
  </head>
  <body>
    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div id="signinButton">
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="302034990418-ut7d1pks2itpe3mkuscatlm04k5iir3m.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </div>
    <!--END GOOGLE PLUS SIGN IN BUTTON -->
  </body>
</html>
