<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant Menus</title>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
  </head>
  <body>
    <section class="header">
      <h1 class="header__h">Restaurants</h1>
      <a href="{{url_for(url_to)}}" class="header__a">{{button_text}}</a>
    </section>

    <!--MESSAGE FLASHING EXAMPLE -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <section class="main">
      <div class="button {{button_hide}}">
        <a class="button__a" href="{{url_for('newRestaurant')}}">Add restaurant</a>
      </div>

      <div class="items">
        {% for r in restaurants %}
          <div class="items__item">
            <h3 class="items__h">{{r.name}}</h3>
            <div class="items__links">
              <a class="items__a" href="{{url_for('restaurantMenu', restaurant_id=r.id)}}">Menu</a>
              <a class="items__a {% if r.user_id != user_id %}hide{% endif %}" href="{{url_for('editRestaurant', restaurant_id=r.id)}}">Edit</a>
              <a class="items__a {% if r.user_id != user_id %}hide{% endif %}" href="{{url_for('deleteRestaurant', restaurant_id=r.id)}}">Delete</a>
            </div>
          </div>
        {% endfor %}
        <div class="items__item items__flex-fill">

        </div>
        <div class="items__item items__flex-fill">

        </div>
      </div>
    </section>
  </body>
</html>
